body {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px; }

.header {
  background: #323031; }

.header__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 1100px;
  padding: 20px 0;
  color: #fff; }

.header__logo {
  display: flex;
  font-size: 1.25em;
  align-items: center;
  width: auto; }
  .header__logo .header__imagen {
    padding: 8px; }
  .header__logo .header__titulo {
    font-weight: lighter; }

.header__menu {
  width: 65%;
  font-size: 0.85em;
  display: flex;
  justify-content: end; }
  .header__menu .header__menu_item {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    transition: .1s all ease;
    margin: 0 5px;
    display: inline-block; }
  .header__menu .header__menu_item:hover {
    text-decoration: underline;
    transform: translateY(-1px); }

@keyframes cursor {
  0% {
    border-color: transparent; }
  50% {
    border-color: #323031; } }
@keyframes escribiendo {
  from {
    width: 0%; }
  to {
    width: 100%; } }
.introducion {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 2em 0; }

.introducion__contenedor {
  display: flex;
  justify-content: space-evenly; }

.introducion__presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%; }
  .introducion__presentacion .introduccion__saludo--escribiendo {
    display: inline-block; }
    .introducion__presentacion .introduccion__saludo--escribiendo .introduccion__saludo {
      font-size: 1.5em;
      font-weight: normal;
      color: #323031;
      margin: 1.5em 0;
      border-right: 2.5px solid #f2f2f2;
      white-space: nowrap;
      overflow: hidden;
      animation: cursor 0.5s infinite, escribiendo 3.5s steps(40, end); }
  .introducion__presentacion .introducion__descripcion {
    font-size: 1.25em;
    font-weight: lighter;
    line-height: 1.4em;
    margin: 0 1em;
    text-align: justify; }
    .introducion__presentacion .introducion__descripcion .introducion__descripcion--detalle__texto {
      font-weight: bold;
      color: #323031; }
  .introducion__presentacion .introducion__link {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0; }
  .introducion__presentacion .introducion__link__item {
    padding: 10px 1.5em;
    text-decoration: none;
    color: #323031;
    background: #fff;
    border: 1px solid #323031;
    border-radius: 5px;
    transition: 1s all; }
  .introducion__presentacion .introducion__link__item:hover {
    background: #F4F3EE;
    transform: scale(1); }

.introducion__contenedor__logo {
  width: auto; }
  .introducion__contenedor__logo .introducion__logo {
    background: #323031;
    border-radius: 100%;
    margin: 1.8em 0; }

.sobre__mi {
  background: #F4F3EE; }

.sobre__mi__contenedor {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 3em;
  text-align: center; }

.sobre__mi__titulo {
  font-weight: lighter;
  color: #323031;
  font-size: 2em;
  margin-bottom: 1em; }

.sobre__mi__texto {
  margin: 1.5em 0;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 400;
  text-align: justify; }

.skill__contenedor {
  width: 90%;
  max-width: 1100px;
  margin: auto; }
  .skill__contenedor .skill__contenedor__titulo {
    text-align: center;
    font-size: 1.5em;
    padding: 20px 15px; }

.skill__contenedor__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1em; }

.skill__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 8%;
  margin: 2%;
  background: #323031;
  opacity: 0.8;
  color: #F4F3EE;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  transition: 1s all ease; }

.skill__card:hover {
  transform: scale(1.1);
  opacity: 0.9; }

.skill__card__img {
  display: inline-block;
  margin-bottom: 5px; }

.skill__card__tiulo {
  font-size: 1.25;
  font-weight: 400;
  line-height: 1.4em; }

.formacion {
  background: #F4F3EE; }

.formacion__contenedor {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column; }

.formacion__contenedor__titulo {
  padding: 30px 20px;
  font-size: 1.5em; }

.formacion__contenedor__card {
  display: flex; }

.formacion__card {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #fff;
  align-items: center;
  margin: 1.75em; }
  .formacion__card .formacion__contenedor__imagen {
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
  .formacion__card .formacion__imagen {
    width: 70%;
    margin: 1em; }
  .formacion__card .formacion__imagen__sena {
    width: 90%; }
  .formacion__card .formacion__descripcion__titulo {
    font-size: 1.5em;
    color: #323031;
    font-weight: 600;
    margin-bottom: 1.25em; }
  .formacion__card .formacion__descripcion__titulo:hover {
    border-bottom: 1px solid #323031; }
  .formacion__card .descripcion__descripcion__Texto {
    font-size: 1.25em;
    line-height: 1.40em;
    margin-bottom: 2em; }

.protectos__contenedor {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em; }

.proyectos__contenedor__titulo {
  width: 100%;
  text-align: center;
  padding: 1.5em;
  font-size: 1.5em;
  font-weight: lighter; }

.proyecto__contenedor__card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid #323031;
  margin-bottom: 1.5em; }
  .proyecto__contenedor__card .proyecto__contenedor__imagen {
    width: 70%;
    display: flex; }
    .proyecto__contenedor__card .proyecto__contenedor__imagen .proyecto__imagen {
      display: flex;
      width: 50%; }
  .proyecto__contenedor__card .proyecto__contenedor__contenido {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
    text-align: center; }
    .proyecto__contenedor__card .proyecto__contenedor__contenido .proyecto__titulo {
      font-size: 1.5em;
      color: #323031;
      font-weight: 600;
      margin-bottom: 1em; }
    .proyecto__contenedor__card .proyecto__contenedor__contenido .proyecto__titulo:hover {
      border-bottom: 1px solid #323031; }
    .proyecto__contenedor__card .proyecto__contenedor__contenido .proyecto__descripcion {
      font-size: 1.15em;
      line-height: 1.25em;
      margin-bottom: 1em; }
    .proyecto__contenedor__card .proyecto__contenedor__contenido .proyecto__contenedor__botones {
      display: flex;
      flex-direction: column;
      margin: 1.5em 0; }
    .proyecto__contenedor__card .proyecto__contenedor__contenido .proyecto__boton {
      padding: 10px 1.5em;
      text-decoration: none;
      color: #323031;
      background: #fff;
      border: 1px solid #323031;
      border-radius: 5px;
      margin-bottom: 1em;
      transition: 1s all; }
    .proyecto__contenedor__card .proyecto__contenedor__contenido .boton--gris {
      padding: 1em 1em;
      background: #323031;
      color: #fff; }
    .proyecto__contenedor__card .proyecto__contenedor__contenido .boton--gris:hover {
      color: #323031; }
    .proyecto__contenedor__card .proyecto__contenedor__contenido .proyecto__boton:hover {
      background: #F4F3EE;
      transform: scale(1.1); }
  .proyecto__contenedor__card .contenido--grande {
    width: 100%; }

.formulario {
  background: #F4F3EE;
  padding: 1.5em; }

.formulario__contenedor {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; }
  .formulario__contenedor .formulario__nombre {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em; }
    .formulario__contenedor .formulario__nombre .formulario__titulo {
      font-size: 1.5em;
      font-weight: 600; }

.formulario__contenedor__contenido {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1.5em; }
  .formulario__contenedor__contenido .formulario__contenedor__imagen {
    width: 50%;
    display: flex;
    margin: 0 1.5em; }
    .formulario__contenedor__contenido .formulario__contenedor__imagen .formulario__imagen {
      width: 80%;
      height: 45hv; }
  .formulario__contenedor__contenido .formulario__contenedor__datos {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .formulario__contenedor__contenido .formulario__contenedor__datos .formulario__label {
      width: 100%;
      font-size: 1em;
      margin: 1em; }
    .formulario__contenedor__contenido .formulario__contenedor__datos .formulario__item {
      width: 100%;
      height: 10%;
      font-size: 1em;
      max-width: auto;
      max-height: auto;
      margin: 0 1em;
      padding: .5em;
      background: #F4F3EE;
      color: #323031;
      border: 0.5px solid #323031; }
    .formulario__contenedor__contenido .formulario__contenedor__datos .formulario__contenedor__boton {
      width: 100%;
      display: flex;
      justify-content: center; }
    .formulario__contenedor__contenido .formulario__contenedor__datos .formulario__boton {
      margin: 1em;
      text-decoration: none;
      color: #323031;
      background: #fff;
      border: 1px solid #323031;
      border-radius: 5px;
      margin-bottom: 1em;
      transition: 1s all;
      cursor: pointer; }
    .formulario__contenedor__contenido .formulario__contenedor__datos .boton--gris {
      margin-top: 1.5em;
      padding: 1em 4em;
      background: #323031;
      color: #fff; }
    .formulario__contenedor__contenido .formulario__contenedor__datos .boton--gris:hover {
      color: #323031;
      background: #F4F3EE;
      text-decoration: underline; }

.footer {
  background: #323031; }

.footer__contenedor {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  color: #fff; }
  .footer__contenedor .footer__contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 2.5em; }
    .footer__contenedor .footer__contenido .footer__nombre {
      font-size: 1.25em;
      line-height: 1.40em;
      font-weight: lighter; }
    .footer__contenedor .footer__contenido .footer__descripcion {
      font-size: 1.25em;
      line-height: 1.40em; }

@media (max-width: 850px) {
  .header__contenedor {
    flex-direction: column; }

  .header__menu {
    font-size: 0.65;
    justify-content: space-evenly; }

  .introducion__contenedor {
    flex-direction: column-reverse;
    text-align: center; }

  .introducion__presentacion {
    width: 100%; }
    .introducion__presentacion .introduccion__saludo--escribiendo {
      width: auto; }
      .introducion__presentacion .introduccion__saludo--escribiendo .introduccion__saludo {
        font-size: 1.25em;
        margin: .85em;
        white-space: normal;
        animation: cursor 0.5s infinite;
        margin: 1em .5em; }

  .introducion__contenedor__logo {
    width: 100%; }

  .sobre__mi__contenedor {
    padding: 3em 0; }

  .sobre__mi__titulo {
    font-size: 1.45em; }

  .skill__card {
    width: 30%; }

  .formacion__contenedor__card {
    flex-direction: column; }

  .formacion__card {
    margin: 1em auto;
    border-radius: 10px;
    padding: 1em; }

  .formacion__descripcion__titulo {
    font-size: 1.25em;
    margin-bottom: .5em; }

  .proyectos__contenedor__titulo {
    padding: 1em 0;
    font-size: 1.25; }

  .proyecto__contenedor__card {
    flex-direction: column; }

  .proyecto__contenedor__imagen {
    width: 100%; }

  .proyecto__imagen {
    width: 100%; }

  .proyecto__contenedor__contenido {
    width: 100%;
    text-align: justify; }

  .formulario__nombre {
    font-size: 1.25em; }

  .formulario__contenedor__contenido {
    flex-direction: column;
    margin: .85em auto; }

  .formulario__contenedor__imagen {
    width: 100%;
    margin-bottom: .85em;
    align-self: center;
    justify-content: center; }
    .formulario__contenedor__imagen .formulario__contenedor__imagen {
      width: 100%; }

  .formulario__contenedor__datos {
    width: 100%;
    margin: 0.85em auto; }
    .formulario__contenedor__datos .formulario__item {
      width: 100%; }
    .formulario__contenedor__datos .formulario__boton {
      margin: .85em auto; } }
@media (max-width: 600px) {
  .header__menu {
    flex-direction: column;
    width: 100%;
    text-align: center; }

  .introducion__presentacion .introduccion__saludo--escribiendo .introduccion__saludo {
    animation: none; }

  .header__menu_item {
    padding: .5em 0;
    border-bottom: 0.1px solid rgba(244, 243, 238, 0.2); }

  .introducion__presentacion .introducion__descripcion {
    font-size: 0.90em; }

  .introducion__link {
    flex-direction: column; }
    .introducion__link .introducion__link__item {
      margin: .85em; }

  .sobre__mi__contenedor {
    padding: 1em 0; }
    .sobre__mi__contenedor .sobre__mi__titulo {
      font-size: 1.25em; }
    .sobre__mi__contenedor .sobre__mi__texto {
      font-size: 0.90em; }

  .skill__contenedor__titulo .skill__titulo {
    font-size: 1em; }

  .skill__card {
    width: 70%;
    padding: 0.5em;
    font-size: .80em; }

  .formacion__contenedor__titulo {
    padding: 1em 0; }

  .formacion__titulo {
    font-size: 1em;
    text-align: center; }

  .formacion__card {
    padding: 0 2em; }
    .formacion__card .formacion__descripcion__titulo {
      font-size: 1em; }
    .formacion__card .descripcion__descripcion__Texto {
      font-size: 0.85em; }

  .proyectos__titulo {
    font-size: 0.90em; }

  .proyecto__contenedor__card .proyecto__contenedor__contenido .proyecto__titulo {
    font-size: 1.25em; }
  .proyecto__contenedor__card .proyecto__contenedor__contenido .proyecto__descripcion {
    font-size: 1em;
    text-align: justify; }

  .formulario__titulo {
    font-size: 1em; }

  .formulario__contenedor__contenido .formulario__contenedor__datos {
    width: 100%;
    margin: 0; }
    .formulario__contenedor__contenido .formulario__contenedor__datos .formulario__item {
      width: auto;
      margin: 0; }

  .footer__contenedor .footer__contenido .footer__nombre {
    font-size: 1em; }
  .footer__contenedor .footer__contenido .footer__descripcion {
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
